<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popup.project.board.review.model.ReviewUserMapper">
    
    <resultMap id="reviewUserMap" type="com.popup.project.board.review.model.ReviewUser">
        <result property="userNick" column="user_nick" />
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="userPwd" column="user_pwd" />
        <result property="userAddress" column="user_address" />
        <result property="userCreateDate" column="user_create_date" />
    </resultMap>
    
    <select id="findByUserNick" parameterType="string" resultMap="reviewUserMap">
        SELECT * FROM USERS WHERE user_nick = #{userNick}
    </select>

</mapper>

